<div class="main mt-2 container">
    <div class="row">

        <div class="col-10 ">
            <div class="Endereco">
                <div class="form ">
                    <form role="form">
                        <fieldset>
                            <legend>Endereço</legend>
                            <div class=" mb-3">
                                <label for="cep" class="form-label">CEP</label>
                                <input style="width: 170px;" type="text" name="username" class="form-control"
                                    id="usuario">
                            </div>
                            <div class="mt-3">
                                <label for="rua" class="form-label">Rua</label>
                                <input type="text" disabled name="rua" class="form-control" id="rua">
                                <label for="rua" class="form-label">Numero</label>
                                <input type="text" name="numero" class="form-control" id="rua">
                            </div>
                            <div class="mt-3">
                                <label for="rua" class="form-label">Bairro</label>
                                <input type="text" disabled name="bairro" class="form-control" id="rua">
                            </div>
                            <div class="mt-3">
                                <label for="rua" class="form-label">Estado</label>
                                <input type="text" disabled name="estado" class="form-control" id="rua">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <hr>
            <div class=" mt-3 contato">
                <div class="form ">
                    <form role="form">
                        <fieldset>
                            <legend>Contato</legend>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control"
                                    id="email">
                            </div>
                            <div class="mt-3">
                                <label for="rua" class="form-label">Telefone</label>
                                <input type="text" name="rua" class="form-control" id="rua">
                            </div>
                            <button type="submit" class="btn btn-success btn-login mt-4">Atualizar</button>
                        </fieldset>
                    </form>
                </div>
            </div>  
        </div>
        <br><br>