<div class="main mt-2 container">
    <div class="row">

        <div class="col-10 ">
            <div class="Endereco">
                <div class="form ">
                    <form [formGroup]="formulario" #f="ngForm"ngDefaultControl name="myForm" id="formulario" role="form">
                        <div class="d-flex justify-content-end"><button type="submit"
                                class="btn btn-success btn-login mt-4" (click)="updateProfile()">Atualizar</button>
                        </div>
                        <fieldset>
                            <legend>Endereço</legend>
                            <div class="row mb-3">

                                <div class="col-3">
                                    <label for="cep" class="form-label">CEP</label>
                                    <input formControlName="cep" (blur)="consultaCEP($event)" style="width: 170px;" type="text" name="cep" id="cep" class="form-control">
                                </div>

                                <div class="col-6">
                                    <label for="rua" class="form-label">Bairro</label>
                                    <input formControlName="bairro" name="bairro" type="text" readonly name="bairro" class="form-control" id="bairro">
                                </div>

                                <div class="col-3">
                                    <label for="rua" class="form-label">Estado</label>
                                    <input formControlName="estado" name="estado" type="text" readonly name="estado" class="form-control" id="estado">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-9">
                                    <label for="rua" class="form-label">Rua</label>
                                    <input formControlName="rua" name="rua" type="text" readonly name="rua" class="form-control" id="rua">
                                </div>
                                <div class="col-3">
                                    <label for="numero" class="form-label">Numero</label>
                                    <input formControlName="numero" value="" name="numero" type="text" name="numero" class="form-control" id="numero">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <hr>
            <div class=" mt-3 contato">
                <div class="form ">
                    <form role="form">
                        <fieldset>
                            <legend>Contato</legend>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" id="email">
                            </div>
                            <div class="mt-3">
                                <label for="rua" class="form-label">Telefone</label>
                                <input type="text" name="rua" class="form-control" id="rua">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <br><br>