<div class="produtos">

  <div *ngIf="produtos.length != 0" class="cart">
    <button class="btn-cart" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16"
        height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
        <path
          d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        <path
          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg></button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 *ngIf="cart.length > 0" class="offcanvas-title" id="offcanvasExampleLabel">Carrinho de compras</h5>
        <button id="close" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div *ngIf="cart.length == 0" class="alert alert-danger">Você não possui nenhum item adicionado ao carrinho</div>
      <div *ngIf="cart.length > 0" class="offcanvas-body">
        <div>
          <table *ngIf="cart.length > 0" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
                <th scope="col">Valor Total</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart; let idx = index">
                <th scope="row">{{ idx + 1 }}</th>
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.valor | currency : 'BRL' : 'symbol-narrow'}}</td>
                <td>{{ item.valor * item.quantidade | currency : 'BRL' : 'symbol-narrow'}}</td>
                <td><a class="trash" (click)="removeFromCart(item.id)"><svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></a></td>
              </tr>
            </tbody>
          </table>
          <div class="me-4 d-flex justify-content-end total">
            <h2>{{ total | currency : 'BRL' : 'symbol-narrow' }}</h2>
          </div>
          <hr>
          <h5>Forma de pagamento</h5>
          <div class="d-fles">
            <input type="radio" checked id="pix" name="form_pagamento" value="1">
            <label class="ms-2" for="PIX">PIX</label><br>
            <input type="radio" id="Débito" name="form_pagamento" value="2">
            <label class="ms-2" for="Débito">Débito</label><br>
            <input type="radio" id="Crédito" name="form_pagamento" value="3">
            <label class="ms-2" for="Crédito">Crédito</label>
          </div>
          <hr>
          <div class="buy">
            <button (click)="purchase()" class="btn btn-success">Realizar compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="produtos.length == 0" class="alert alert-danger">
    <p>Nenhum produto cadastrado no momento</p>
  </div>

  <div *ngFor="let prod of produtos" class="card me-3 mb-3 d-flex" style="width: 18rem;">
    <img [ngClass]="{'fadeImgItem': prod.quantidadeEstoque <= 0 }" [src]="prod.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ prod.nome }}</h5>
      <hr>
      <p class="card-text">{{ prod.descricao }}</p>
      <hr>
      <div class="slidecontainer" [id]="prod.id">
        <p *ngIf="prod.quantidadeEstoque > 0">Qantidade:
          <span class="ms-2 bold">{{ prod.quantidade == 0 ? (prod.quantidade + 1) : prod.quantidade}}</span>
        </p>
        <p *ngIf="prod.quantidadeEstoque <= 0">
          <span style="color: red" class="ms-2 bold">Sem estoque</span>
        </p>
        <p>
          Valor: <span class="bold card-text">{{ prod.valor * (prod.quantidade == 0 ? (prod.quantidade + 1)
            :prod.quantidade)
            | currency : 'BRL' : 'symbol-narrow' }} </span>
        </p>

        <input class="form-range" #qtde [id]="prod.id" [name]=" prod.nome + prod.id" [(ngModel)]="prod.quantidade"
          type="range" min="1" [max]="prod.quantidadeEstoque" [value]="prod.valor">
      </div>
      <hr>
      <form (ngSubmit)="adicionarAoCarrinho(item)" name="myForm" id="formulario" role="form" #item="ngForm">
        <input style="display: none" type="text" #id="ngModel" ngModel [(ngModel)]="prod.id" name="id" />
        <input style="display: none" type="text" #nome="ngModel" ngModel [(ngModel)]="prod.nome" name="name" name="nome"
          [value]='prod.nome' />
        <input style="display: none" type="text" #quantidade="ngModel" ngModel [(ngModel)]="prod.quantidade"
          name="quantidade" name="quantidade" [value]='prod.quantidade' />
        <input style="display: none" type="text" #valor="ngModel" ngModel [(ngModel)]="prod.valor" name="valor"
          name="valor" [value]='prod.valor' />
        <input style="display: none" type="text" #quantidadeEstoque="ngModel" ngModel
          [(ngModel)]="prod.quantidadeEstoque" name="quantidadeEstoque" name="quantidadeEstoque"
          [value]='prod.quantidadeEstoque' />
        <button type="submit" [disabled]="prod.quantidadeEstoque <= 0"
          class="btn btn-success justify-content-center">Adicionar ao carrinho</button>
      </form>



    </div>
  </div>

</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="https://freeiconshop.com/wp-content/uploads/edd/checkmark-flat.png" height="20px" width="20px"
        class="rounded me-2" alt="...">
      <strong class="me-auto">Carrinho de compras</strong>
      <small>Agora mesmo</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      O item foi adicionado ao carrinho
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="btn-warning" style="display: none" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#accountCreated">
</button>

<!-- Modal -->
<div class="modal fade" id="accountCreated" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrinho de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBody" class="modal-body">
        Compra Realizada com sucesso
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>