<div class="produtos">

<div *ngIf="produtos.length == 0" class="alert alert-danger">
  <p>Nenhum produto cadastrado no momento</p>
</div>

  <div *ngFor="let prod of produtos" class="card me-3 mb-3" style="width: 18rem;">
    <img [src]="prod.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ prod.name }}</h5>
      <p class="card-text">{{ prod.descricao }}</p>
      <div class="slidecontainer" [id]="prod.id">
        <p>Quantidade:</p>
        <input #qtde [id]="prod.id" [name]=" prod.name + prod.id  " [(ngModel)]="prod.quantidade" type="range" min="1" [max]="prod.quantidadeEstoque"
          [value]="prod.valor"><span class="ms-4" *ngIf="prod.quantidade == 0 ? (prod.quantidade + 1) : prod.quantidade  ">{{ prod.quantidade }}</span>
      </div>
      <p class="valor card-text">{{ prod.valor * prod.quantidade | currency : 'BRL':true  }} </p>
      <a href="#" class="btn btn-success">Adicionar ao carrinho</a>
    </div>
  </div>

</div>