*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(59, 56, 56);
}

.header{
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.menu-lateral{
    color: white;
    width: 300px;
    height: 300px;
    padding-top: 20px;
}

.menu-list{
    list-style-type: none;
}

.menu-list>li:hover{
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: row;
}

.router-content{
    width: 100%;
}

ul>a:visited{
    color: white;
}

ul>a{
    color: white;
    text-decoration: none;
}

